<div class="dashboard">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4" style="display: flex; justify-content: center;">

    <!-- คะแนนเฉลี่ย -->
    <div class="col-12">
      <div class="card p-4">
        <div class="col-12 d-flex justify-content-start">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนเฉลี่ย</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
          <h1 class="fw-bold">{{ avgScore! }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนเฉลี่ยของแต่ละรายวิชา</p>
        </div>
      </div>
    </div>

    <!-- คะแนนต่ำสุด -->
    <div class="col-12">
      <div class="card p-4">
        <div class="col-12 d-flex justify-content-start">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนต่ำสุด</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
          <h1 class="fw-bold">{{ minScore! }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนต่ำสุดของแต่ละรายวิชา</p>
        </div>
      </div>
    </div>

    <!-- คะแนนสูงสุด -->
    <div class="col-12">
      <div class="card p-4">
        <div class="col-12 d-flex justify-content-start">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนสูงสุด</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
          <h1 class="fw-bold">{{ maxScore! }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="opacity-55" style="color: #5B5B5B;">คะแนนสูงสุดของแต่ละรายวิชา</p>
        </div>
      </div>
    </div>

    <!-- ค่าเบี่ยงเบนมาตรฐาน -->
    <div class="col-12">
      <div class="card p-4">
        <div class="col-12 d-flex justify-content-start">
          <p class="opacity-55" style="color: #5B5B5B;">ค่าเบี่ยงเบนมาตรฐาน</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
          <h1 class="fw-bold">{{ stdDev! }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="opacity-55" style="color: #5B5B5B;">ค่าเบี่ยงเบนมาตรฐานของแต่ละรายวิชา</p>
        </div>
      </div>
    </div>

    <!-- จำนวนนิสิต -->
    <div class="col-12">
      <div class="card p-4">
        <div class="col-12 d-flex justify-content-start">
          <p class="opacity-55" style="color: #5B5B5B;">จำนวนนิสิต</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
          <h1 class="fw-bold">{{ studentCount! }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="opacity-55" style="color: #5B5B5B;">จำนวนนิสิตของแต่ละรายวิชา</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="canvas-container mb-4"> -->
<div class="row">
  <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-start">
    <div class="card bell-curve-card">
      <div class="card-body">
        <h5 class="card-title ps-4 mt-4 fw-bold mb-5">ช่วงสัดส่วนคะแนนของนิสิตที่ได้รับคะแนน</h5>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <!-- <div style="max-width: 80.5rem; width: 100%;"> -->
          <!-- <canvas baseChart
          [data]="doughnutChartData"
          [options]="doughnutChartOptions"
          [type]="'doughnut'" style="height: 21.875rem;">
          </canvas> -->
          <!-- </div> -->
          <canvas #dChart>
          </canvas>
          <!-- <div style="display:flex; justify-content:center;"><button (click)="updateData()">Click Me</button></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-start">
    <div class="card bell-curve-card">
      <div class="card-body">
        <h5 class="card-title ps-4 mt-4 fw-bold mb-5">การแจกแจงคะแนนนิสิต</h5>
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 400px;">
          <!-- <canvas #bChart baseChart [data]="bellCurveData" [labels]="bellCurveLabels" [type]="'line'">
        </canvas> -->
          <canvas #bChart></canvas>
        </div>
      </div>
    </div>
  </div>
</div>