<div
  *ngIf="!isFileUploaded"
  class="custom-card animate__animated animate__fadeIn"
  style="border: 1px dashed; width: 100%; height: 100%"
>
  <div
    class="card-body w-100 animate__animated animate__fadeIn" 
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <div class="text-center">{{ "add_user_label" | translate }}</div>
    <label for="uploadfile" class="btn btn-primary">
      <i
        class="bi bi-box-arrow-in-down"
        style="font-size: var(--icon-size); color: var(--white-color)"
      ></i>
      {{ "add_user_upload" | translate }}
    </label>
    <input
      id="uploadfile"
      type="file"
      class="d-none"
      accept=".xls,.xlsx"
      (change)="onFileSelected($event)"
    />

    <!--หรือ-->
    <label class="fw-bold dashed-line"><span>{{ "condition_format_excel" | translate}}</span></label>

    <!-- ดาวน์โหลดตัวอย่างรูปแบบไฟล์ -->
    <div class="text-center">{{ "example_format_excel" | translate}}</div>
    <label for="" class="btn btn-primary">
      <i
        class="bi bi-download"
        style="font-size: var(--icon-size); color: var(--white-color)"
      ></i>
       <!-- เทมเพลต Excel -->
       {{ "templete_excel_button" | translate}}
    </label>
    <input
      id=""
      type="file"
      class="d-none"
      accept=".xls,.xlsx"
    />

  </div>
</div>

<div *ngIf="isFileUploaded" class="custom-card">
  <div class="card-body w-100 gx-0">
    <div class="row gx-0 w-100">
      <div class="col-12 col-md-8 col-sm-12">
        <div
          class="d-flex justify-content-start align-items-start flex-column w-100"
        >
          <div
            class="d-flex align-items-center fw-bold text-start ms-3"
            style="width: 25%; height: 68px"
          >
            <!-- ตารางข้อมูลผู้ใช้งาน -->
            {{ "add_user_info" | translate }}
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md ms-auto d-flex justify-content-end align-items-end"
      >
        <div class="button-container mb-2 d-flex gap-2">
          <!-- 1. click save data -->
          <button class="btn btn-primary" (click)="onSaveData()">
            <i
              class="bi bi-floppy-fill"
              style="font-size: var(--icon-size); color: var(--white-color)"
            ></i>
            <!-- บันทึกข้อมูล -->
            {{ "user_manage_save" | translate }}
          </button>
          <button class="btn btn-secondary" (click)="onDelete()">
            <i
              class="bi bi-trash-fill"
              style="font-size: var(--icon-size); color: var(--white-color)"
            ></i>
            <!-- ลบข้อมูล -->
            {{ "add_user_delete" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 text-danger ps-3 mb-0">
      {{ "add_user_caution" | translate }}
    </div>
    <!-- ag-Grid -->
    <ag-grid-angular
      *ngIf="isFileUploaded"
      style="width: 100%; height: 30.375rem"
      class="ag-theme-quartz"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
