/* ถ้าเกิดปัญหาลบได้ตั้งแต่แถวนี้ */
@font-face {
  font-family: "Prompt";
  src: url("assets/fonts/Prompt/Prompt-Regular.ttf") format("ttf"),
    url("assets/fonts/Prompt/Prompt-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("assets/fonts/Prompt/Prompt-Bold.ttf") format("ttf"),
    url("assets/fonts/Prompt/Prompt-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("assets/fonts/Prompt/Prompt-Italic.ttf") format("ttf"),
    url("assets/fonts/Prompt/Prompt-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #3d8bfd;
  --secondary-color: #9d9fa1;
  --green-color: #03a96b;
  --active-color: #07bc77;
  --grey-color: #2f3337;
  --white-color: #ffffff;
  --body-color: #eef5ff;
  --disabled-color: #e9ecef;
  --danger-color: #d33;
  --font-size: 1rem;
  --font-color: #3c3c3c;
  --font-menu-color: #9d9fa1;
  --icon-size: 1.25rem;
}

/* layout */
body,
html {
  font-family: "Prompt", sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-container .content {
  flex: 1;
  padding: 1.25rem;
  background-color: var(--body-color);
}

/* side bar */
.sidenav {
  height: 100%;
  width: 15.625rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -15.625rem; /* ซ่อน sidebar ออกนอกหน้าจอ */
  background-color: var(--grey-color);
  overflow-x: hidden;
  transition: left 0.5s; /* ใช้ transition กับ left */
}

.sidenav a:hover {
  color: var(--white-color);
}

.sidenav-open {
  left: 0; /* เลื่อน sidebar กลับเข้ามา */
}

/* add new side bar header */
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.438rem 0.625rem;
}

.logo-img img {
  max-height: 3.125rem; /* กำหนดความสูงของโลโก้ */
  width: auto; /* รักษาสัดส่วนของภาพ */
}

.header-title {
  flex: 1; /* ให้พื้นที่ส่วนนี้ยืดตามความจำเป็น */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลางแนวนอน */
  font-size: var(--font-size); /* ขนาดตัวอักษร */
  color: var(--white-color);
}

.burger-icon {
  font-size: 1.5rem; /* ขนาดไอคอน */
  cursor: pointer; /* เปลี่ยน cursor เมื่อ hover */
  color: var(--white-color);
}

/* menu */
.menu-container {
  display: flex;
  flex-direction: column;
  /* gap: 0.625rem; */
}

.menu-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--font-size);
  padding: 0.625rem 1rem;
  transition: background-color 0.3s;
  color: var(--secondary-color);
}

.menu-container a i {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.menu-container a:hover {
  color: var(--white-color);
}
.menu-container a.active {
  background-color: var(--green-color);
  color: var(--white-color);
}
/* body router */
.content-with-sidenav {
  margin-left: 15.625rem; /* ระยะห่างเมื่อตัวเมนูเปิด */
  transition: margin-left 0.5s; /* เพิ่มความนุ่มนวลในการเปลี่ยนแปลง */
}

.content-full-width {
  transition: margin-left 0.5s;
  margin-left: 0;
}

/* utility */
.dropdown-item:not(.disabled).active,
.dropdown-item:not(.disabled):active {
  background-color: var(--active-color);
  color: var(--white-color);
}

/* route layout */
.route-container {
  display: flex;
  flex-direction: column; /* จัดเรียงในแนวตั้ง */
  gap: 0.6rem; /* เว้นระยะห่างระหว่าง items ในแนวตั้ง */
}

/* ng-select */
.ng-select.ng-select-disabled > .ng-select-container {
  background-color: var(--disabled-color) !important;
  opacity: 1;
}

/* swal2 */
.swal2-title {
  font-size: 1.375rem; /* Adjust font size as needed */
}
